@import url("https://fonts.googleapis.com/css?family=Kameron|Sansita&display=swap");

body {
  font-size: large;
  margin: 0;
  padding: 0;
  background: #193467;
  font-family: "Sansita", serif;
}

a {
  text-decoration: none;
}

header {
  padding: 1.5em;
  background: #193467;
  border-bottom: 0.2em solid white;
}

.login {
  max-width: 30em;
  margin: auto;
  margin-top: 5em;
  padding: 0.3em;
  color: white;
}

.login__greeting {
  padding-bottom: 2em;
}

.login__form {
  padding-top: 2em;
}

.btn {
  margin-top: 1em;
  width: 100%;
  height: 3em;
  font-weight: bold;
  border: 0.1em solid white;
  border-radius: 0.2em;
  color: white;
  background-color: #193467;
  transition: 750ms;
}

.btn__content {
  margin: auto;
  display: inline-flex;
}

.btn__icon {
  height: 1.2em;
  width: 1.2em;
}

.btn:hover {
  background-color: white;
  color: #193467;
}

.form__text {
  margin-top: 1em;
  margin-bottom: 1em;
  width: 100%;
  height: 3em;
  border: 0.1em solid white;
  border-radius: 0.2em;
}
